{% extends 'core/base.html' %}


{% block contenido %}
<div class="container text-center py-5 position-relative">
    <div style="font-size:300px; color:#eeeeee;">404</div>
    <div class="container text-center position-absolute start-50 top-50 translate-middle">
        <h1 class="display-1">Error<h1>
        <h1 class="display-4">Página no encontrada</h1>
        <p class="lead">El recurso que estás intentando acceder no existe o no tienes permisos para verlo</p>
    </div>
</div>
{% endblock %}