<!DOCTYPE html>
<html lang="es-MX">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href={% static 'core/css/estilos.css' %}>
    <title>Webstore</title>
</head>
<body>
    {% url 'usuarios:registro' as url_registro %}
    {% url 'usuarios:iniciar_sesion' as url_iniciar_sesion %}
    {% url 'usuarios:cambiar_password' as url_cambiar_password %}
    {% url 'actividades:nueva' as url_actividades_nueva %}
    {% url 'actividades:lista' as url_actividades_lista %}
    {% url 'actividades:generador' as url_actividades_generador %}
    
    <!-- Cabecera -->
    <div class="container-fluid text-light p-5" id="cabecera">
        <div class="row">
            <div class="col-12 col-md-6 text-center">
                <span><i class="fa-regular fa-lightbulb" style="font-size: 150px;"></i></span>
            </div>
            <div class="col-12 col-md-6 text-center">
                <h1 class="display-1">Seguimiento</h1>
                <p class="display-6">de actividades</p>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0 sticky-top shadow">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark py-2">
            <div class="container-fluid">
                <!-- Logo o marca -->
                <a class="navbar-brand" href="#">
                    <span><i class="fa-solid fa-book"></i></span>
                </a>
                
                <!-- Botón para mostrar y ocultar el menú (solo visible cuando está colapsado)
                El target tiene que concidir con el ID del contenido del navbar -->
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#contenido_navbar" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="contenido_navbar">
                    <ul class="navbar-nav me-auto mb-0 pt-3 pt-sm-0">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url_actividades_lista %}active{% endif %}" href="{{url_actividades_lista}}">Actividades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url_actividades_nueva %}active{% endif %}" href="{{url_actividades_nueva}}">Nueva actividad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url_actividades_generador %}active{% endif %}" href="{{url_actividades_generador}}">Generador</a>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav mb-0 pt-3 pt-sm-0">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuarios:cerrar_sesion' %}">
                                Cerrar sesión
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url_cambiar_password %}active{% endif %}" href="{{url_cambiar_password}}">
                                Cambiar contraseña
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url_iniciar_sesion %}active{% endif %}" href="{{url_iniciar_sesion}}">
                                Iniciar sesión
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url_registro %}active{% endif %}" href="{{url_registro}}">
                                Registrarse
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {% block contenido %}{% endblock %}

</body>
</html>