{% extends "bases/base.html" %}



{% block contenido %}

<div class="container">
    <h1 class="display-3">Sitio de pruebas</h1>
    <p class="lead">Bienvenido al sitio de pruebas</p>
    <p class="lead">Esta es la página de inicio</p>
</div>

<div class="container">
    <ul>
        {% for texto in textos %}
        <li>{{texto}}</li>
        {% endfor %}
    </ul>
</div>

<div class="container">
    {% if not formulario %}
    <form class="needs-validation p-4" method="post" action="">
        {% csrf_token %}
        <div class="input-group my-2 pt-4">
            <span class="input-group-text"></span>
            <input type="number" class="form-control" placeholder="Número" name="numero" required>
        </div>
        <div class="d-flex mt-1 flex-wrap justify-content-between text-secondary align-items-baseline">
            <button type="submit" class="btn btn-outline-dark mt-3">Enviar</button>
        </div>
    </form>
    {% else %}
    <p class="lead, bg-info">El número que diste es: {{formulario.numero}}</p>
    {% endif %}
</div>

{% endblock %}