{% extends 'core/base.html' %}


{% block contenido %}

<div class="container my-5">
    <h1 class="display-6">Detalle de actividad</h1>
</div>

<div class="container">
    <p class="lead"><strong>Título:</strong> {{actividad.titulo}}</p>
    <p class="lead"><strong>Descripción:</strong> {{actividad.descripcion}}</p>
    <p class="lead"><strong>Periodo de la actividad:</strong> del {{actividad.fecha_inicio|date:'d/m/Y'}} al {{actividad.fecha_limite|date:'d/m/Y'}} </p>
    <p class="lead"><strong>Importancia:</strong> {{actividad.importancia}}</p>
    <p class="lead"><strong>Estado:</strong> {{actividad.estado}}</p>
    <p class="lead"><strong>Fecha de registro de la actividad:</strong> {{actividad.fecha_creacion}}</p>
    <p class="lead"><strong>Fecha de última actualización:</strong> {{actividad.fecha_actualizacion}}</p>
</div>


<div class="container d-flex flex-wrap gap-3 py-5 justify-content-between">
    <div>
        <a class="btn btn-primary" href="{% url 'actividades:editar' actividad.id %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'actividades:eliminar' actividad.id %}">Eliminar</a>
    </div>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning px-4" name="accion" value="descargar">Descargar PDF</button>
        <button type="submit" class="btn btn-warning px-4" name="accion" value="visualizar">Visualizar PDF</button>
    </form>
</div>

{% if confirmar_eliminar %}
<div class="container gap-3 pb-5">
    <form method="POST">
        {% csrf_token %}
        <p class="lead d-inline">Seguro que deseas eliminar?</p>
        <button type="submit" class="btn btn-danger px-4 mx-4">Si</button>
        <a class="btn btn-success px-4 mx-4" href="{% url 'actividades:detalle' actividad.id %}">No</a>
    </form>
</div>
{% endif %}

{% endblock %}