{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% load static %} {% endcomment %}

<div style="box-sizing:border-box; min-width:100%; text-align:left; width:100%!important;">
    <table bgcolor="#f5f5f5" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%">
        <tbody>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width:600px;">
                                        <tbody>
                                            <tr align="center">
                                                <td bgcolor="#00b087" style="padding:20px;">
                                                    <h1 style="color:#ffffff">Seguimiento de actividades</h1>
                                                    {% comment %} <img src="{% static 'actividades/img/logo_sm_white.png' %}" width="240" alt=""> {% endcomment %}
                                                    <img src="cid:logo_sm_white.png" width="240" alt="">
                                                    <h2 style="color:#ffffff">Nueva actividad registrada</h2>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width:600px;">
                                        <tbody>
                                            <tr align="left">
                                                <td bgcolor="#ffffff" style="padding:40px 20px 40px 20px; color:#000000; font-size:20px;">
                                                    <p>Se ha registrado una nueva actividad con folio <b>{{actividad.id|stringformat:"06d"}}</b>. El detalle completo de la actividad lo puede encontrar <a style="text-decoration:none;" target="_blank" href="{{urls.detalle}}">aquí</a>.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width:600px;">
                                        <tbody>
                                            <tr align="left">
                                                <td bgcolor="#ffffff" style="padding:0px; color:#000000; font-size:20px;">
                                                    <p style="margin:0px 30px 0px 30px; padding:10px 5px 15px 5px; background-color:#efeeed"><b>Resumen de la actividad</b></p>
                                                    <p style="margin:0px 30px 0px 30px; padding:10px 5px 5px 5px; background-color:#efeeed"><b>Título:</b> {{actividad.titulo}}</p>
                                                    <p style="margin:0px 30px 0px 30px; padding:10px 5px 5px 5px; background-color:#efeeed"><b>Periodo:</b> de {{actividad.fecha_inicio|date:'d/m/Y'}} al {{actividad.fecha_limite|date:'d/m/Y'}}</p>
                                                    <p style="margin:0px 30px 0px 30px; padding:10px 5px 5px 5px; background-color:#efeeed"><b>Importancia:</b> {{actividad.importancia}}</p>
                                                    <p style="margin:0px 30px 0px 30px; padding:10px 5px 5px 5px; background-color:#efeeed"><b>Estado:</b> {{actividad.estado}}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width:600px;">
                                        <tbody>
                                            <tr align="center">
                                                <td bgcolor="#ffffff" style="padding:40px 20px 40px 20px; color:#000000; font-size:20px;">
                                                    <p>Gracias por usar el <b><a style="text-decoration:none;" target="_blank" href="{{urls.home}}">Seguimiento de actividades</a></b>.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width:600px;">
                                        <tbody>
                                            <tr align="left">
                                                <td bgcolor="#efeeed" style="padding:40px 20px 40px 20px; color:#000000; font-size:16px;">
                                                    <p style="margin:0px 0px 7px 0px;">Para cualquier aclaración visite nuestra página de <a style="text-decoration:none;" target="_blank" href="{{urls.contacto}}">contacto</a>.</p>
                                                    <p style="margin:0px 0px 7px 0px;">No olvide consultar nuestro <a style="text-decoration:none;" target="_blank" href="{{urls.aviso_privacidad}}">Aviso de Privacidad</a>.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

    
{% comment %} </body>
</html> {% endcomment %}
