{% extends 'core/base.html' %}


{% block contenido %}

<div class="container align-center py-5">
    <div class="shadow">
        <h1 class="display-4 bg-dark text-white py-4 px-3 rounded-top border border-dark my-0">{{accion|title}} actividad</h1>
        <div class="rounded-bottom border border-dark  bg-light">

            <form class="needs-validation p-4" method="post" novalidate>
                {% csrf_token %}
                <div class="form-floating my-3">
                    <input type="text" class="form-control" id="et_titulo" placeholder="x" name="titulo" {% if form.titulo.value %}value="{{form.titulo.value}}"{% endif %}>
                    <label for="et_titulo">Título</label>
                    {% for error in form.titulo.errors %}
                    <div class="invalid-feedback d-block">{{error}}</div>
                    {% endfor %}
                </div>
    
                <div class="form-floating my-3">
                    <textarea class="form-control" placeholder="x" id="et_descripcion" style="height:100px" name="descripcion">{% if form.descripcion.value %}{{form.descripcion.value}}{% endif %}</textarea>
                    <label for="et_descripcion">Descripción</label>
                    {% for error in form.descripcion.errors %}
                    <div class="invalid-feedback d-block">{{error}}</div>
                    {% endfor %}
                </div>
    
                <div class="form-floating my-3">
                    <input type="date" class="form-control" id="et_fecha_ini" placeholder="x" name="fecha_inicio" {% if form.fecha_inicio.value %}value="{{form.fecha_inicio.value}}"{% endif %}>
                    <label for="et_fecha_ini">Fecha de inicio</label>
                    {% for error in form.fecha_inicio.errors %}
                    <div class="invalid-feedback d-block">{{error}}</div>
                    {% endfor %}
                </div>
    
                <div class="form-floating my-3">
                    <input type="date" class="form-control" id="et_fecha_lim" placeholder="x" name="fecha_limite" {% if form.fecha_limite.value %}value="{{form.fecha_limite.value}}"{% endif %}>
                    <label for="et_fecha_lim">Fecha límite</label>
                    {% for error in form.fecha_limite.errors %}
                    <div class="invalid-feedback d-block">{{error}}</div>
                    {% endfor %}
                </div>
    
                <div class="my-3">
                    <label for="et_importancia">Importancia</label>
                    <select class="form-select" multiple id="et_importancia" name="importancia">
                        {% for importancia in importancias %}
                        <!-- El filtro |slugify convierte enteros a str y el filtro |add:"0" al inverso -->
                        <option value="{{importancia.id}}" {% if form.importancia.value == importancia.id|slugify %}selected{% endif %}>{{importancia}}</option>
                        {% endfor %}
                    </select>
                    {% for error in form.importancia.errors %}
                    <div class="invalid-feedback d-block">{{error}}</div>
                    {% endfor %}
                </div>
    
                <div class="my-3">
                    <label for="et_estado">Estado</label>
                    <select class="form-select" multiple id="et_estado" name="estado">
                        {% for estado in estados %}
                        <!-- El filtro |slugify convierte enteros a str y el filtro |add:"0" al inverso -->
                        <option value="{{estado.id}}" {% if form.estado.value == estado.id|slugify %}selected{% endif %}>{{estado}}</option>
                        {% endfor %}
                    </select>
                    {% for error in form.estado.errors %}
                    <div class="invalid-feedback d-block">{{error}}</div>
                    {% endfor %}
                </div>
                {% for error in form.non_field_errors %}
                <div class="invalid-feedback d-block">{{error}}</div>
                {% endfor %}

                <div class="d-flex mt-1 flex-wrap justify-content-between text-secondary align-items-baseline">
                    <button type="submit" class="btn btn-outline-dark mt-3">Enviar</button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}