{% extends "bases/base.html" %}

{% block contenido %}

<div class="container align-center py-5">
    <div class="shadow">
        <h1 class="display-4 bg-dark text-white py-4 px-3 rounded-top border border-dark my-0">Nueva tarea</h1>
        <div class="rounded-bottom border border-dark  bg-light">

            <form class="needs-validation p-4" method="post" novalidate>
                {% csrf_token %}
                <div class="input-group my-2 pt-4">
                    <span class="input-group-text"><i class="fa-solid fa-heading"></i></span>
                    <input type="text" class="form-control" placeholder="Título" name="titulo" {% if form.titulo.value %}value="{{form.titulo.value}}"{% endif %}>
                    {% for error in form.titulo.errors %}
                    <div class="invalid-feedback d-block">{{error}}</div>
                    {% endfor %}
                </div>

                <div class="input-group my-2 pt-4">
                    <span class="input-group-text"><i class="fa-solid fa-pen"></i></span>
                    <input type="text" class="form-control" placeholder="Título" name="descripcion" {% if form.descripcion.value %}value="{{form.descripcion.value}}"{% endif %}>
                    {% for error in form.descripcion.errors %}
                    <div class="invalid-feedback d-block">{{error}}</div>
                    {% endfor %}
                </div>

                <div class="input-group my-2 pt-4">
                    <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                    <input type="date" class="form-control" placeholder="Título" name="fecha_inicio" {% if form.fecha_inicio.value %}value="{{form.fecha_inicio.value}}"{% endif %}>
                    {% for error in form.fecha_inicio.errors %}
                    <div class="invalid-feedback d-block">{{error}}</div>
                    {% endfor %}
                </div>

                <div class="input-group my-2 pt-4">
                    <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                    <input type="date" class="form-control" placeholder="Título" name="fecha_limite" {% if form.fecha_limite.value %}value="{{form.fecha_limite.value}}"{% endif %}>
                    {% for error in form.fecha_limite.errors %}
                    <div class="invalid-feedback d-block">{{error}}</div>
                    {% endfor %}
                </div>


                <div class="d-flex mt-1 flex-wrap justify-content-between text-secondary align-items-baseline">
                    <button type="submit" class="btn btn-outline-dark mt-3">Enviar</button>
                </div>
            </form>

        </div>
    </div>
</div>



{% endblock %}